################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VIVA/Codes/spfx-company-announcements-ace/.vscode
