################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VIVA/Codes/spfx-company-announcements-ace/.vscode
/.vs
/VIVA/Codes/msal-auth/.vscode
/VIVA/Codes/ace-card1/.vscode
/VIVA/Codes/spfx-custom-ace-creation/.vscode
