################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VIVA/Codes/spfx-company-announcements-ace/.vscode
/.vs
/VIVA/Codes/msal-auth/.vscode
/VIVA/Codes/ace-card1/.vscode
/VIVA/Codes/spfx-custom-ace-creation/.vscode
/VIVA/Codes/app-extension/app-extension-modal/.vscode
/VIVA/Codes/spfx-call-api-ace/.vscode
/VIVA/Codes/WebAPI/.vs
/VIVA/Codes/WebAPI/WebApplication1/.vs
/VIVA/Codes/WebAPI/WebApplication1/bin
/VIVA/Codes/WebAPI/WebApplication1/obj
/VIVA/Codes/WebAPI/WebApplication1/Properties/PublishProfiles
/VIVA/Codes/WebAPI/WebApplication1/Properties/ServiceDependencies/WebApplicationHCL - Web Deploy/profile.arm.json
