<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://functionapphcl.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/2fece8f5-0796-4a12-95c9-3dd29ef8c7ee/resourcegroups/rg-hcl/providers/Microsoft.Web/sites/FunctionAppHCL</ResourceId>
    <UserName>$FunctionAppHCL</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://functionapphcl.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>